In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.Series([1,3,5,6,8])

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [4]:
df=pd.DataFrame(data=np.arange(1,49).reshape(12,4), columns=['X1','X2','X3','X4'])
df

    X1  X2  X3  X4
0    1   2   3   4
1    5   6   7   8
2    9  10  11  12
3   13  14  15  16
4   17  18  19  20
5   21  22  23  24
6   25  26  27  28
7   29  30  31  32
8   33  34  35  36
9   37  38  39  40
10  41  42  43  44
11  45  46  47  48